<div
  style="
    background-color: aqua;
    width: 100vw;
    text-align: right;
    padding: 1rem;
    margin: 0%;
  "
>
  <button style="margin-right: 3rem">
    <a href="/logout" style="text-decoration: none; color: black">logout</a>
  </button>
</div>
