<div
  style="
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
  "
>
  <h2>Welcome! please login</h2>
  <h4 style="text-align: center">with</h4>
  <div id="firebaseui-auth-container"></div>
</div>
